/* Colors */
$primary:rgb(41, 70, 248);
$secondaty:rgb(75, 85, 95);
$success:rgb(41, 201, 66);
$danger:rgb(255, 29, 0);
$warning:rgb(246, 150, 0);
$sheduled:rgb(0, 179, 214);
$dark:rgb(26, 47, 63);

/* Text */
$disabled-text:rgb(92, 118, 137);
$normal-text:rgb(233, 234, 252);
$active-tab-text:rgb(79, 107, 127);