
.collaborator-card {
    width: 90%;
    height: auto;
    box-shadow: 0.1px 0.1px 5px;
}

.collaborator-card .image {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 2px;
}

.collaborator-card .image img {
    width: 50%;
    height: 100%;
    border: 1px solid;
    border-radius: 50%;
}

.collaborator-card .card-body .name {
    font-family: poppins-bold;
    font-size: 18px;
    text-wrap: wrap;
    text-align: center;
}

.collaborator-card .card-body .role {
    font-family: poppins-semibold;
    font-size: 14px;
    font-weight: 300;
}

.collaborator-card .card-body .collaborator-card-text {
    font-family: 'poppins-regular';
    font-size: 12px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 12px;
    font-family: poppins-regular;
    margin: 10px 0px;
}

.collaborator-card .card-body .delete-btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.collaborator-card .card-body .edit-btn{
    position: absolute;
    right: 10px;
    top: 10px;
}

@media (max-width: 767px) {
    .collaborator-card {
        width: 100%;
    }

    .cta-button {
        display: none;
    }

    .cta-button.show {
        display: block;
        margin-top: 10px;
    }

    #toggleButtons {
        display: block;
    }
}

@media (min-width: 768px) {
    #toggleButtons {
        display: none;
    }
}