@font-face {
    font-family: poppins-black;
    src: url("../font/Poppins-Black.ttf");
}

@font-face {
    font-family: poppins-bold;
    src: url("../font/Poppins-Bold.ttf");
}

@font-face {
    font-family: poppins-extrabold;
    src: url("../font/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: poppins-extralight;
    src: url("../font/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: poppins-light;
    src: url("../font/Poppins-Light.ttf");
}

@font-face {
    font-family: poppins-medium;
    src: url("../font/Poppins-Medium.ttf");
}

@font-face {
    font-family: poppins-regular;
    src: url("../font/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppins-semibold;
    src: url("../font/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: poppins-thin;
    src: url("../font/Poppins-Thin.ttf");
}