.meeting-item {
    display:flex;
    justify-content : space-between;
    align-items:center;
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
}
.meeting-item.finished{
    border-left: 5px solid rgb(85, 182, 85);
}
.meeting-item.progressing{
    border-left: 5px solid rgb(241, 129, 24);
}
.meeting-item.sheduled{
    border-left: 5px solid rgb(13, 153, 218);
}
.meeting-item.blocked{
    border-left: 5px solid rgb(222, 36, 22);
}

.meeting-category {
    font-size: 18px;
    font-family: 'poppins-semibold';
}

.meeting-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.meeting-responsable{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.status-badge {
    font-size: 0.8rem;
}

.timer {
    font-size: 16px;
    font-family: 'poppins-regular';
}

.timer.start{
    color: aqua;
}
.timer.end{
    color: red;
}

.action{
    padding: 1px 20px;
    font-family: 'poppins-bold';
    font-size: 20px;
}

.room {
    /* border: 1px solid; */
    font-family: 'poppins-semibold';
    /* background-color: gray; */
    text-align: center;
    padding: 0px 15px;
    color: #343030;
    /* border-radius: 10px; */
}

.responsable_img{
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50px;
}

.dropend .dropdown-toggle::after {
    display: none;
}