.meeting-item {
    border-left: 4px solid #28a745;
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
}
.status-badge {
    font-size: 0.8rem;
}
.timer {
    font-size: 1.2rem;
    font-weight: bold;
}

.responsable_img{
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50px;
}